.skills_container{
    row-gap: 2rem;
    text-align: center;
    display: grid;
}
.skills_cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.skills_subtitle{
    margin-bottom: var(--mb-2);
}

.skills_text{
    margin-bottom: var(--mb-4);
}

.skills_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}

.skills_icon{
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
}

.skills_names{
    display: flex;
    align-items: center;
}
.skills_bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
}

.skills_html{
    width: 95%;
}

.skills_css{
    width: 85%;
}
.skills_js{
    width: 65%;
    background-color: var(--first-color); 
}

.skills_img{
    align-self: center;
    max-width: 100%;
    margin: 0 auto;
}
.skills_img img{
    width: 100%;
    border-radius: .5rem;
    display: block;
   
}




<section class="skills section" id="skills">
<h2 class="section-title">Skills</h2>

<div class="skills_container bd-grid">

    

    <div class="skills_cont">
        <div class="skills_txt">
            <p class="skills_text">
                My diverse skill set encompasses a broad spectrum of technical proficiencies and 
                interpersonal qualities that position me as a versatile professional
                in the field of Information Technology. On the technical front, I bring expertise in
                programming languages such as Python, C and PHP, proficiency in web development technologies
                including HTML, CSS, Bootstrap and JQuery, and adeptness in database management, particularly with 
                SQL. Additionally, my familiarity with software development life cycles and mastery
                of version control tools like Git enhance my capacity to deliver 
                high-quality solutions. Complementing these technical skills are my soft skills, including
                effective communication, collaborative teamwork, problem-solving, and adaptability. Holding
                certifications in relevant areas further underscores my commitment to staying current
                with industry standards. My comprehensive skill set positions me as a valuable asset
                ready to tackle the challenges of the ever-evolving IT landscape.
            </p>
        </div>


        <div class="skills_data_all">
            <div class="skills_data1">
                <div class="skills_data">
                    <div class="skills_names">
                        <i class='bx bxl-html5 skills_icon'></i>
                        <span class="skills_name">HTML5</span>
                    </div>

                    <div>
                        <span class="skills_percentage">95%</span>
                    </div>

                    <div class="skills_bar skills_html"></div>
                        
                </div>

                <div class="skills_data">
                    <div class="skills_names">
                        <i class='bx bxl-css3 skills_icon'></i>
                        <span class="skills_name">CSS3</span>
                    </div>

                    <div>
                        <span class="skills_percentage">85%</span>
                    </div>

                    <div class="skills_bar skills_css"></div>
                        
                </div>

                <div class="skills_data">
                    <div class="skills_names">
                        <i class='bx bxl-javascript skills_icon'></i>
                        <span class="skills_name">JavaScript</span>
                    </div>

                    <div>
                        <span class="skills_percentage">65%</span>
                    </div>

                    <div class="skills_bar skills_js"></div>
                        
                </div>
            </div>


            <div class="skills_data2">
                <div class="skills_data">
                    <div class="skills_names">
                        <i class='bx bxl-python skills_icon'></i> 
                        <span class="skills_name">Python</span>
                    </div>

                    <div>
                        <span class="skills_percentage">55%</span>
                    </div>

                    <div class="skills_bar skills_python"></div>
                        
                </div>

                <div class="skills_data">
                    <div class="skills_names">
                        <i class='bx bxl-php skills_icon'></i>
                        <span class="skills_name">PHP</span>
                    </div>

                    <div>
                        <span class="skills_percentage">50%</span>
                    </div>

                    <div class="skills_bar skills_php"></div>
                        
                </div>

                <div class="skills_data">
                    <div class="skills_names">
                        <i class='bx bxl-postgresql skills_icon' ></i>
                        <span class="skills_name">SQL</span>
                    </div>

                    <div>
                        <span class="skills_percentage">65%</span>
                    </div>

                    <div class="skills_bar skills_sql"></div>
                        
                </div>
            </div>
        </div>

    </div> 
        
    
</div>
</section>